BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://jsonplaceholder.typicode.com

DB_HOST=localhost
DB_PORT=3306
DB_NAME=hybrid_framework_db
DB_USER=qa_user
DB_PASSWORD=your_password
DB_ROOT_PASSWORD=your_root_password
